body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://res.cloudinary.com/dum4u7sro/image/upload/v1585677557/In_summer_he_song_sings_itself._mmabud.png);
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.enter, .quiz, .results{
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Neucha', cursive;
  margin: 0 auto;
}
.enter{
  color: #E83151;
}
.enter-context>h1{
  font-size: 10vw;
}
.enter-context, .quiz-question, .results-context{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(219, 212, 211, .80);
  padding: 3%;
  box-shadow: 0px 0px 10px 5px #888888;
  border-radius: 3px;
}

label{
  font-family: 'Josefin Slab', serif;
}
.quiz-button{
  font-family: 'Josefin Slab', serif; 
  background: #D2CCA1;
  box-shadow: 0px 0px 10px 1px #888888;
  font-size: 1.5vw;
}
.answer{
  margin-top: 2%;
  background: #D2CCA1;
  color: #387780;
  font-size: 2vw;
}

.enter-button{
  margin-top: 20%;
  font-size: 2vw;
  background: #D2CCA1;
  box-shadow: 0px 0px 10px 1px #888888;
  border-radius: 3px;
}
.result-button-div{
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 3%;
}
.options, input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.p-title{
  text-align: center;
  border: solid;
  margin: auto 10%;
}
.results-cards{
  border: solid;
  display: flex;
  flex-direction: column;
  background:  rgba(156, 153, 140, .6);
  padding: 2%;
}
.results-card>h2{
  color: #E83151;
}
.results-effects{
  display: grid;
  grid-template-areas: 
  "pos  neg  med";
  color:#477780;
  grid-gap: 1%;
}
.results-postive{
  grid-area: pos;
  margin: 2%;
}
.results-item{
  display: flex;
  flex-direction: row;
}
.results-negative{
  grid-area: neg;
  margin: 2%;
}
.results-medical{
  grid-area: med;
}
@keyframes gradient {
  0% {
      text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
  }
  20% {
     text-shadow: 5px 5px 20px rgba(161, 160, 160, 0.6), 0px 0px 30px rgba(221, 221, 221, 1), -2px 2px 40px rgba(139, 137, 137, 0.8);
  }
  40%{
    text-shadow: 0px 0px 30px rgba(221, 221, 221, 1), -2px 2px 40px rgba(139, 137, 137, 0.8);
  }
  60%{
    text-shadow: 0px 0px 30px rgba(221, 221, 221, 1)
  }
  80%{
    text-shadow: 5px 5px 20px rgba(161, 160, 160, 0.6), 0px 0px 30px rgba(221, 221, 221, 1), -2px 2px 40px rgba(139, 137, 137, 0.8);
  }
  100% {
      text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
  }
}
@keyframes wiggle {
  0% { transform: rotate(10deg); }
  10% { transform: rotate(-10deg); }
  20% { transform: rotate(10deg); }
  30% { transform: rotate(-10deg); }
  40% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  60% { transform: rotate(10deg); }
  70% { transform: rotate(-10deg); }
  80% { transform: rotate(10deg); }
  90% { transform: rotate(-10deg); }
  100% { transform: rotate(10deg); }
}
i{
  font-size: 4vw;
  padding: 1%;
  color: #E83151;
  animation: gradient 6s infinite;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: ease-in;
}
i:hover{
  color: #E83151;
  text-shadow: 0px 0px 30px rgba(221, 221, 221, 1);
  animation: wiggle 2s;
}


